/* COLORS:
DARK BLUE: #13294B
MED BLUE: #1D4F91
LIGHT BLUE: #4698CB
WHITE: #ffffff
*/



body {
    min-height: 100vh;
    background-color: #13294B;
    color: #fff;
}

/* NAV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list-wrap {
    height: 6rem;
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: #fff;
}

nav li {
    align-items: center;
    justify-content: center;
}

nav li #logo {
    display: block;
}

#logo {
    display: none;
}

#mobile-logo {
    max-width: 5.5rem;
    position: absolute;
    top: 0;
    z-index: 111;
    left: calc(50% - 2.75rem);
    background-color: #fff;
    padding-top: 0.25rem;
}

#logo img {
    max-width: 6rem;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    border: none;
    font-size: 2.5rem;
    background: white;
    cursor: pointer;
  }
  
  .closeIcon {
    color: #13294B;
    display: none;
  }
  
  .menu {
    transform: translateY(-100%);
    transition: transform 0.2s;
    z-index: 99;
    background: #fff;
    color: #13294B;
    list-style: none;
    padding-top: 6.5rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }

  #caret {
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  .dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
    overflow: visible;
  }

  .dropdown-options {
    display: none;
    overflow: visible;
    background-color:#fff;
    border-radius:5px;
  }

  .showDropdown {
    display: block;
  }

  .dropdown-options a {
    display: block;
    text-decoration: none;
    padding: 0rem 0rem;
  }
  
  .dropdown-options {
    background-color: #fff;
  }

  .dropdown li span {
    font-size: 1rem;
  }

  .fa-bars {
    color: #13294B;
  }

  .fa-xmark {
    color: #13294B;
  }

/* HERO
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#hero {
    display: block;
    color: #13294B;
    padding: 2rem 0rem;
    width:100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/Clouds_mobile.svg');
    background-position: center;
}

.page-wrapper {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/images/Clouds_mobile.svg');
    background-position: bottom;
    padding: 2rem;
}

#canvas {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
}

#hero .button {
    background-color: #fff;
    color: #13294B;
    border: 1px solid #4698CB;
}

#hero .button:hover {
    border: 1px solid #1D4F91;
}

#hero-details {
    color: #13294B;
}

#hero-text h4 {
    font-weight: 300;
    margin-bottom: 0;
}

#hero-text h1 {
    font-weight: 600;
}

#fast-links {
    padding: 0;
}

#hero-logo {
    width: 25rem;
}

#commission-status {
    background-color: #1D4F91;
    padding: 2rem;
    text-align: center;
    color: #fff;
}

#socials {
    font-size: 5rem;
}

#socials span {
    font-size: 2rem;
    display:block;
}

/* #socials img {
    display: none;
} */

/* MAIN CONTENT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main { 
    background-color: #13294B;
    padding: 2rem;
}

#about {
    color: #fff;
}

#about img {
    display: block;
    max-width: 100%;
}

#about span {
    display: block;
    text-align: left;
}

#portfolio {
    background-color: #fff;
    color: #13294B;
    text-align: center;
    padding: 2rem;
}

#portfolio h3 {
    margin-bottom: 0;
}

#fursuit {
    padding: 0rem;
}

#props {
    padding: 0rem;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#footer {
    padding: 2rem;
    font-size: 1.3rem;
    bottom:0;
    left:0;
    background-color: #1D4F91;
    color: #aebbc7;
}

#footer h5 {
    display: flex;
    margin: 0;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#footer h6 {
    margin-bottom: 0rem;
    text-align: left;
    color: #fff;
    font-weight:900;
}

#footer a {
    color: #d7d8d9;
}

#footer i {
    padding-right: 3rem;
    font-size: 1.5rem;
}

.footer-link a {
    margin-left: 4.5rem;
    margin-bottom: 1rem;
    display: flex;
}

#shoutout {
    text-align: left;
}

#shoutout h6 {
    padding: 0;
}

#copyright {
    display: block;
    padding: 1rem;
    background-color: #13294B;
    color:#d7d8d9;
    text-align: center;
    font-size: 1.2rem;
    position: sticky;
    top: 100vh;
}


/* ------------- MISC */

.white {
    background-color: #fff;
    color: #13294B;
    padding: 2rem;
    border-radius: 1rem;
}

.portfolio-item {
    display: block;
    border-radius: 1rem;
}

.bullet-points ul li {
    list-style: circle;
}

#socials {
    font-size: 5rem;
}

#socials i {
    padding: 1rem;
}

#socials img {
    width: 40rem;
}

#sidenote {
    font-size: 1.25rem;
}

.sidenote {
    font-size: 1.25rem;
}

.small {
    font-size: 1rem;
}

.slideshow-buttons {
    font-size: 4rem;
}

input[type="radio"]{
    margin-right: 2rem;
}

input[type="checkbox"]{
    margin-right: 2rem;
}

legend {
    font-weight: 600;
    font-size: 1.75rem;
    width:100%;
    background-color: #fff;
    border-radius: 4px;
}

.on-hover {
    visibility: hidden;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 0;
    display: inline-block;
    z-index: 1s;
    position: absolute;
    border: 1px solid #e0f4ff;
    border-radius: 4px;
    background-color: #e0f4ff;
    margin-left: 4px;
    padding: 1rem;
}

.tooltip:hover ~ .on-hover{
    visibility: visible;
}

#tool {
    display: inline;
}

.hide-mobile {
    display: none;
}

select {
    width: 100%;
}

select:focus {
    border: 1px solid #e0f4ff;
}

option {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

#estimate-form {
    margin-bottom: -5rem;
}

#estimate {
    margin-bottom: 0;
}

#totalPrice {
    border-radius: 4px;
    background-color: #e0f4ff;
    margin-left: 4px;
    padding: 1rem;
}

.inactive {
    pointer-events: none;
    cursor: default;
    background-color:#d7d8d9;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
    .page-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/Cloud_med.svg');
    background-position: bottom;
    min-height: 100vh;
    }

    #hero {
        background-image: url('/images/Cloud_med.svg');
        background-position: center;
        padding: 0;
    }
    
    .list-wrap {
        height: 8rem;
    }

    .menu-header {
        cursor: pointer;
        display: none;
    }

    nav ul {
        align-items: center;
        transform: translateY(0);
    }
    
    .list-wrap {
        display: flex;
        max-height: 100%;
    }

    #logo {
        display: flex;
    }

    #logo img {
        max-width: 6rem;
        display: flex;
    }

    #mobile-logo {
        display: none;
    }

    .hamburger {
        display: none;
    }
      
    .closeIcon {
        display: none;
    }
    
    .menu {
        transform: translateY(0);
        transition: transform 0.2s;
        z-index: 99;
        background: #fff;
        color: #13294B;
        list-style: none;
        padding: 0rem;        
    }

    #hero-details {
        padding: 7rem 7rem 0rem 7rem;
    }

    #hero-logo {
        width: 40rem;
    }

    .bullets ul li {
        margin-left: 1.5rem;
    }

    #socials img {
        display: inline-block;
        max-width: 30rem;
        padding-top: 2rem;
    }
     
    .dropdown-options {
        display: none;
        position: absolute;
        overflow: visible;
        background-color:#fff;
        border-radius:5px;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
        }

    .dropdown-options a {
        display: block;
        text-decoration: none;
        padding: 1rem 2rem;
    }
    
    .dropdown-options li:hover {
     background-color: #f1f1f1;
    }

    .dropdown li span {
        padding-left: 0.5rem;
    }
    
    .hide-mobile {
        display: inline;
    }
    
}

/* Larger than phablet */
@media (min-width: 900px) {
    nav li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #fast-links {
        padding: 2rem;
    }
}

/* Larger than tablet */
@media (min-width: 1200px) {}